[Unit]
Description=portfolio-watch
After=syslog.target

[Service]
User=root
Environment=DB_URL=
Environment=EMAIL_USER=
Environment=EMAIL_PASS=
Environment=JAR_LOC=
ExecStart=/usr/bin/java -jar -Dspring.datasource.url=${DB_URL} -Dspring.mail.username=${EMAIL_USER} -Dspring.mail.password=${EMAIL_PASS} ${JAR_LOC}
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
